@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */

 body {
  font-family: Noto Sans JP,;
  font-style: normal;
}

.back {
  height: 768px;
  background-image: url(../img/kv.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* width: 100%; */
}

.mainBg {
  background-image: url(../img/main_bg.jpg);
} 

.mainTitle {
  display: inline-block;
  margin-top: 150px;
}

.title {
  font-size: 36px;
  display: inline-block;
  margin-top: 100px ;
}
  

.subTitle {
  font-size: 16px;
  color: #828282;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 4.8px;
}

/* ---------------------------
header
--------------------------- */
.header {
  /* opacity: 0.8; */
  background-color: black;
  height: 100px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.headerLogo {
  margin: 12px 55px 0 0;
}

.headerNav {
  display: flex;
}

.headerNavitem,.btn {
  margin-right: 48px;
  color: white;
}

.btn--serve {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 78px;
  height: 44px;
  margin-right: 15px;
  background-color: #78781E;
}

.btn--calendar {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 142px;
  height: 44px;
  border: 1px solid #FFFFFF;
}

/* ---------------------------
kv
--------------------------- */
.mainLogo {
  position: relative;
  top: 169px;
  left: 150px;
}

.screen-wrapper {
  display: flex;
  justify-content: center; /* 左右中央 */
  align-items: center;     /* 上下中央（必要に応じて） */
  min-height: 100vh;
}

.mainTitle {
  /* display: flex; */
  writing-mode: vertical-rl;
  margin: 0 auto;
  font-size: 48px;
  height: 648px;
  color: white;
  height: fit-content; 
  display: block;      
  margin: 296px 0 100px;
}

.mainTitletxt {
  display: block;
  /* width: 48px;
  text-align: center; */
  margin-left: 80px; 
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  letter-spacing: 72px;
  line-height: 1;
}

.mainTitletxt:last-child {
  margin-left: 0;
}

.main_txt {
  color: white;
  font-size: 14px;
  text-align: center;
}

.mainTxt {
  display: block;
  margin-top: 21px;
}

.mainImg {
  margin: 80px auto 0;
}

.videoImg {
  margin: 80px auto 0;
  padding-bottom: 100px;
}

/* ---------------------------
information
--------------------------- */
.newsInner {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}

.newsList {
  text-align: center;
}

.newsItem {
  display: flex;
  font-size: 14px;
  border-bottom: 1px #CCCCCC solid;
  padding: 16px 0;
}

.newsIcon {
  width: 100px;
  height: 25px;
  line-height: 25px;
  margin-right: 50px;
  letter-spacing: 4.2px;
  background-color: #78781E;
  color: #FFFFFF;
  /* text-align: center; */
}

.newsItem--fst {
  border-top: 1px #CCCCCC solid;
  margin-top: 54px;
}

.newsDate {
  color: #888888;
}

.newsDate {
  margin-right: 50px;
}

.all {
  font-size: 14px;
  color: #868686;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  text-align: end;
  margin-bottom: 134px;
}

/* ---------------------------
plan
--------------------------- */
.plan {
  background-color: #E8E7E2;
}

.planInner {
  text-align: center;
}

.planArticle {
  display: flex;
  gap: 0 40px;
  justify-content: center;
  margin-top: 56px;
  text-align: start;
}

.planContent {
  width: 480px;
  background-color: #FFFFFF;
}

.contentTitle {
  font-size: 16px;
  color: #78781E;
  /* margin-top: 18px; */
  margin: 18px 13px 0;

}

.contentTxt {
  font-size: 14px;
  margin: 10px 13px 0;
}

.detail {
  font-size: 13px;
  color: #868686;
  display: inline-block;
  width: 100%;
  text-align: end;
  padding: 0 13px;
  /* margin-top: 10px; */
  /* margin: 10px 13px auto 13px ; */
}

.detailFst {
  margin-bottom: 14px;
}

/* .detail--second {
  margin-top: 30px;
} */

/* ---------------------------
reserve
--------------------------- */
.reserve {
  padding-top: 80px;
  background-color: #E8E7E2;
}

.reserveInner {
  width: 63vw;
  margin: 0 auto;
}

.reserveTitle {
  font-size: 22px;
  color: #78781E;
  text-align: center;
  border-bottom: 1px #000000 solid;
  padding-bottom: 9px;
}

.reserveContent {
  margin-top: 30px;
  text-align: center;

}

.reserveDetail {
  display: block;
  margin: 0 13px;
}

.reserveTxt {
  display: block;
  font-size: 10px;
  /* margin-top: 30px; */
  margin: 30px auto 0;
  width: fit-content;
}

.attention {
  display: block;
}

.link {
  display: flex;
  margin-top: 47px;
  vertical-align: middle;
}

.linkplan {
  background-color: #78781E;
  color: white;
  width: 100%;
  text-align: center;
  height: 124px;
}

.linktel {
  background-color: #454545;
  color: white;
  width: 100%;
  text-align: center;
  height: 124px;
}

.linkplanTxt,.linktelTxt {
  font-size: 10px;
  margin-top: 30px;
}

.linkplanTl,.linktelTl {
  font-size: 28px;
  margin-top: 7px;
}

/* ---------------------------
menu
--------------------------- */
.menuItem {
  margin-top: 15px;
  height: 483px;
  text-align: center;
  color: white;
}

.titleMenu {
  font-size: 48px;
}

.subTitleMenu {
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-top: 0;
  font-weight: lighter;
}

.menuContent {
  font-size: 24px;
  margin-top: 55px;
}

.menuItem--grdn {
  background-image: url(../img/nature01.jpg);
  background-repeat: no-repeat;
}

.menuItem--btwn {
  background-image: url(../img/room01.jpg);
  background-repeat: no-repeat;
}

.menuItem--eat {
  background-image: url(../img/food01.jpg);
  background-repeat: no-repeat;
}

.menuItem--htwtr {
  background-image: url(../img/onsen01.jpg);
  background-repeat: no-repeat;
}



/* ---------------------------
map
--------------------------- */
.mapImg {
  margin-top: 15px;
}

.mapAccess {
  margin-top: 30px;
  font-family: 'Inter';
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  height: 60px;
}

.mapBtn {
  display: inline-block;
  line-height: 60px;
  width: 235px;
}

.mapBtn--left {
  background-color: #BBBBBB;
  margin-right: 18px;
}

.mapBtn--right {
  background-color: #222222;
}

/* ---------------------------
address
--------------------------- */
.address {
  margin-top: 150px;
}

.addressInner {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.addressImg {
  margin-right: 201px;
  
}

.addressLogo {
  display: inline-block;
  margin: 88px auto 0;
}

.addressTxt {
  margin-top: 50px;
  font-size: 14px;
}

.telFax {
  display: block;
  margin-top: 10px;
}

/* ---------------------------
footerNav
--------------------------- */
.footerNav {
  display: flex;
  width: fit-content;
  margin: 100px auto 0;
}

/* .footerNav_item::after {
  content: "";
  display: inline-block;
  background-color: #DDDDDD;
  width: 1px;
  height: 21px;
} */

.footerNav_item {
  margin-right: 60px;
}

.banner_item {
  margin-right: 20px;
  display: block;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 60px auto 0;
  
  
}

.copyright {
  width: 100%;
  display: inline-block;
  margin: 60px 0 162px;
  text-align: center;
  font-size: 12px;
}
