@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */

 body {
  font-family: Noto Sans JP,;
  font-style: normal;
}

.back {
  background-image: url(../img/kv.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.mainBg {
  background-image: url(../img/main_bg.jpg);
}

/* ------------------------
header
--------------------------- */


.header {
  /* opacity: 0.8; */
  background-color: black;
  height: 100px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.header_logo {
  margin: 12px 55px 0 0;
}

.headerNav {
  display: flex;
}

.headerNav_item,.btn {
  margin-right: 48px;
  color: white;
  
}

.btn--serve {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 78px;
  height: 44px;
  margin-right: 15px;
  background-color: 78781E;
}

.btn--calendar {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 142px;
  height: 44px;
  border: 1px solid #FFFFFF;
}

/* ------------------------
kv
--------------------------- */
.mainLogo {
  position: relative;
  top: 169px;
  left: 150px;
}

.mainTitle {
  /* display: flex; */
  writing-mode: vertical-rl;
  margin: 0 auto;
  /* text-align: center; */
  color: white;
}

.mainTitle_txt {
  display: inline-block;
  font-size: 48px;
  text-align: center;
}

.main_txt {
  color: white;
  font-size: 14px;
}


